@model _3DBook.UseCases.Dtos.ItemViewModel.CreateItemViewModel

@{
    ViewData["Title"] = "Create Item";
}

<div class="row justify-content-center">
    <div class="col-auto">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Code</label>
                <input class="form-control" asp-for="Code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Machine</label>
                <select class="form-select" asp-for="MachineId" asp-items="ViewBag.Machines"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Item Type</label>
                <select class="form-select" asp-for="ItemTypeId" asp-items="ViewBag.ItemTypes"></select>
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Upload Files: </label>
                <input type="file" name="files" class="form-control" multiple />
                <span asp-validation-for="UploadPath" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </div>
        </form>
    </div>
</div>