@model IList<_3DBook.UseCases.Dtos.MachineViewModel.MachinesViewModel>
@{
    ViewData["Title"] = "Machine list";
}
@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <a class="btn btn-dark col-2" asp-action="Create" asp-controller="Machine">Add New</a>
    <hr />
}

<div class="row justify-content-center">

    <div class="col-auto">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sort Code</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var machine in Model)
                {
                    <tr>
                        <td>@machine.Name</td>
                        <td>@machine.SortCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>