<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 3DBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-grullo">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown pb-4">

                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Sign out</a></li>
                            </ul>

                        </div>
                    }
                    <ul class="nav nav-pills  flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0 text-white" asp-action="">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Folders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0 text-white" asp-action="">
                                <i class="fs-4 bi-box-seam"></i> <span class="ms-1 d-none d-sm-inline">Item</span>
                            </a>
                        </li>
                        @*                         <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                        </li>
                        <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                        </li>
                        </ul>
                        </li> *@
                        <li>
                            <a href="#" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-boxes"></i> <span class="ms-1 d-none d-sm-inline">Item Type</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-building-gear"></i> <span class="ms-1 d-none d-sm-inline">Machines</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Index" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <hr>

                </div>
            </div>
            <div class="col py-3" id="content">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" id="loader" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                @RenderBody()
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
