@model _3DBook.Models.ChildrenViewModels.CreateChildrenViewModel
@{
    ViewData["Title"] = "Create Children";
}
<div class="row justify-content-center">
    <div class="col-auto">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Elastic</label>
                <input class="form-control" asp-for="ElasticSize" />
                <span asp-validation-for="ElasticSize" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Thickness</label>
                <input class="form-control" asp-for="Thickness" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Mouth Length</label>
                <input class="form-control" asp-for="MouthLength" />
                <span asp-validation-for="MouthLength" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">MouthWidth</label>
                <input class="form-control" asp-for="MouthWidth" ></input>
                <span asp-validation-for="MouthWidth" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Upload File</label>
                <input type="file" name="file" class="form-control"/>
                <span asp-validation-for="UploadPath" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </div>
        </form>
    </div>
</div>