@model _3DBook.Models.FolderViewModel.CreateFolderViewModel
@{
    ViewData["Title"] = "Create Folder";
}
<div class="row justify-content-center">
    <div class="col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Folds</label>
                <input class="form-control" asp-for="Folds" />
                <span asp-validation-for="Folds" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Enter</label>
                <input class="form-control" asp-for="Enter" />
                <span asp-validation-for="Enter" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Exit</label>
                <input class="form-control" asp-for="Exit" />
                <span asp-validation-for="Exit" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Machine</label>
                <select class="form-select" asp-for="MachineId" asp-items="ViewBag.Machines"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </div>
        </form>
    </div>
</div>